*,
*::before, 
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, 
ol, 
li{
    list-style: none;
}

img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 121%;
    font-size: 14px;
    font-weight: 400;
    color: #1F1F1F;
    font-family: 'Montserrat';
    background: #ffffff;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container-little{
    max-width: 1042px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._container-small{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
._container-big{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
} 

/* ------------HEADER--------------------------------------- */

.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 103px;
}
.header__content{
    display: flex;
    align-items: center;
    margin: 0 0 26px 0;
}
.header__info{
    display: flex;
    margin: 0 135px 0 0;
}
.header__adress, .header__tel{
    display: flex;
    align-items: center;
    color: #FDA3C4;
}
.header__adress{
    margin: 0 10px 0 0;
}
.header__adress:hover, .header__tel:hover{
    text-decoration: underline;
}
.header__adress-text, .header__tel-number{
    font-weight: 700;
    font-style: italic;
    font-size: 12px;
    line-height: 121%;
}
.header__adress-icon{
    margin: 0 7px 0 0;
}
.header__tel-icon{
    margin: 0 11px 0 0;
}
.header__logo{
    margin: 0 215px 0 0;
}
.header__search{
    display: flex;
    align-items: center;
    margin: 0 114px 0 0;
    cursor: pointer;
}
.header__search:hover{
    color: #FDA3C4;
    text-decoration: underline;
}
.header__search-icon{
    margin: 0 16px 0 0;
}
.header__search-text{
    font-weight: 700;
    font-size: 12px;
    line-height: 121%;
}
.header__fav-and-cart{
    display: flex;
}
.header__fav-link{
    margin: 0 33px 0 0;
}
.header__menu{

}
.menu__list{
    display: flex;
}
.menu__item:not(:last-child){
    margin: 0 72px 0 0;
}
.menu__link{
    font-size: 16px;
    font-weight: 600;
    line-height: 121%;
    color: #1F1F1F;
}
.menu__link:hover{
    color: #FDA3C4;
}

/* --------------------------PAGE--------------------------------- */

.page__category-cards{
    margin: 15px 0 0 0;
}
.page__new-products{
    margin: 60px 0 0 0;
}
.page__slider{
    margin: 60px 0 0 0;
}
.page__info{
    margin: 60px 0 0 0;
}
/* -------------CATEGORY-CARDS----------------------------------------- */

.category-cards__body{
    display: flex;
}
.category-cards__left-side, .category-cards__right-side{
    display: flex;
    flex-wrap: wrap;
    max-width: 563px;
}
.category-cards__left-side{
    margin: 0 15px 0 0;
}
.category-cards__right-side img, .category-cards__left-side img{
    display: block;
}
.category-cards__left-link:nth-child(1){
    margin: 0 0 15px 0;    
}
.category-cards__left-link:nth-child(2){
    margin: 0 15px 0 0;
}
.category-cards__right-link:nth-child(1){
    margin: 0 15px 0 0;
}
.category-cards__right-link:nth-child(3){
    margin: 15px 0 0 0;
}

/* -----------NEW-PRODUCTS----------------------------- */

.new-products__body{
    display: flex;
}
.new-products__header{
    padding: 6px 0 6px 0;
    position: relative;
}
.new-products__title{
    font-family: 'Sunday Best [rus by aLiNcE]';
    font-weight: 400;
    font-size: 54px;
    line-height: 191%;
    color: #FDA3C4;
}
.new-products__title-small{
    display: flex;
    position: absolute;
    left: 0;
    bottom: 14px;
}
.new-products__title-small-text{
    font-weight: 600;
    font-size: 25px;
    line-height: 121%;
    color: #1F1F1F;
    margin: 0 17px 0 0;
}
.new-products__column{
    max-width: 360px;
    flex: 0 1 25%;
}
.item-new-products__image{
    border-bottom: 2px solid #FDA3C4;
}
.item-new-products__image img{
    display: block;
    width: 100%;
    height: 100%;
}
.item-new-products__description{
    display: flex;
    justify-content: space-around;
    margin: 27px 0 28px 0;
}
.item-new-products__name{
    font-size: 16px;
    font-weight: 400;
    line-height: 121%;
    padding: 0 0 0 20px;
}
.item-new-products__price{
    font-size: 24px;
    font-weight: 700;
    line-height: 121%;
    color: #FDA3C4;
    padding: 0 20px 0 0;
}
.new-products__button_show-all{
    display: block;
    width: min-content;
    margin: 27px auto 0;
} 

/* ------------------Slider-------------------------------------------------- */

.slider__container img{
    display: block;
    width: 100%;
}

/* ----------------Info---------------------------------------------------------- */

.info__container{
    position: relative;
}
.info__title{
    position: absolute;
    top: 128px;
    left: 41px;
    display: block;
    font-family: 'Sunday Best [rus by aLiNcE]';
    font-weight: 400;
    font-size: 54px;
    line-height: 191%;
    max-width: 256px;
    text-align: right;
}
.info__body{
    display: flex;
}
.info__adress-and-time{
    flex: 0 1 21%;
    align-self: flex-end;
    margin: 0 17px 0 0;
    text-align: right;
    font-size: 16px;
    line-height: 125%;
}
.info__adress{
    margin: 0 0 10px 0;
}
.info__image img{
    display: block;
}
.info__image{
    flex: 0 1 53%;
    margin: 0 15px 0 0;
}
.info__text{
    flex: 0 1 22%;
    align-self: center;
    font-size: 16px;
    line-height: 125%;
}
.info__button-open-maps{
    display: block;
    width: min-content;
    margin: 47px auto 0;
}













